<%- include('header.html') %>


  <h1>Products</h1>
  <p>User ID: <%= session.userId %></p>

  <%if(!session.userId) {%>
    <p><a href="/login">Login</a> to access your products</p>
  <% } else {%>
    <ul>
      <% products.forEach(product => { %>
        <li>
          <h3><%= product.name %></h3>
          <p>Price: <%= product.price %>€</p>
          <img src="<%= product.image %>" width="300" height="200" alt="<%= product.name %>">
        </li>
      <% }) %>
    </ul>
  <% } %>





<%- include('footer.html') %>